In [4]:
# Make some imports

import numpy as np
import pandas as pd
from pandas import DataFrame
from collections import defaultdict
import pickle
import sklearn as sk
from sklearn.model_selection import train_test_split

In [5]:
world_happiness = pd.read_csv ('../data/Life_Expectancy.csv')
world_happiness_shape = world_happiness.shape
print(world_happiness)

     Country name  year  Life Ladder  Log GDP per capita  Social support  \
0     Afghanistan  2008        3.724               7.370           0.451
1     Afghanistan  2009        4.402               7.540           0.552
2     Afghanistan  2010        4.758               7.647           0.539
3     Afghanistan  2011        3.832               7.620           0.521
4     Afghanistan  2012        3.783               7.705           0.521
...           ...   ...          ...                 ...             ...
1944     Zimbabwe  2016        3.735               7.984           0.768
1945     Zimbabwe  2017        3.638               8.016           0.754
1946     Zimbabwe  2018        3.616               8.049           0.775
1947     Zimbabwe  2019        2.694               7.950           0.759
1948     Zimbabwe  2020        3.160               7.829           0.717

      Healthy life expectancy at birth  Freedom to make life choices  \
0                                50.80                         0.718
1                                51.20                         0.679
2                                51.60                         0.600
3                                51.92                         0.496
4                                52.24                         0.531
...                                ...                           ...
1944                             54.40                         0.733
1945                             55.00                         0.753
1946                             55.60                         0.763
1947                             56.20                         0.632
1948                             56.80                         0.643

      Generosity  Perceptions of corruption  Positive affect  Negative affect
0          0.168                      0.882            0.518            0.258
1          0.190                      0.850            0.584            0.237
2          0.121                      0.707            0.618            0.275
3          0.162                      0.731            0.611            0.267
4          0.236                      0.776            0.710            0.268
...          ...                        ...              ...              ...
1944      -0.095                      0.724            0.738            0.209
1945      -0.098                      0.751            0.806            0.224
1946      -0.068                      0.844            0.710            0.212
1947      -0.064                      0.831            0.716            0.235
1948      -0.009                      0.789            0.703            0.346

[1949 rows x 11 columns]

In [3]:
# there are 373 null values in world_happiness and we currently find which country the null value belongs to 
# and replace it with the mean of the column of that country.

# 1. create a dictionary with keys of countries and values of their data:

world_happiness_dict = defaultdict()
for row in range(world_happiness_shape[0]):
    value = world_happiness.loc[row].tolist()
    keys = world_happiness_dict.keys()
    current_country = world_happiness.loc[row][0]
    if (current_country in world_happiness_dict.keys()):
        world_happiness_dict[current_country].append(value[1:])
    else:
        world_happiness_dict[current_country] = [value[1:]]

In [11]:
# 2. We delte the countries with only one row of values, for which we cannot find the current column mean and there 
#    is no reason to set these "nan" values to "0"
#    For example, if we check country Cuba:

CUBA = pd.DataFrame(world_happiness_dict.get('Cuba'))
print(CUBA)
# Therefore we find all of such countries and delete them from our dataset
country_with_one_row_data = []
for country in world_happiness_dict.keys():
    if len(world_happiness_dict.get(country)) == 1:
        country_with_one_row_data.append(country)
print("the countries with only one row of data are:", country_with_one_row_data)
print("We delete these 5")
for country in country_with_one_row_data:
    world_happiness_dict.pop(country, None)

      0      1   2     3      4      5   6   7      8      9
0  2006  5.418 NaN  0.97  68.44  0.281 NaN NaN  0.647  0.277
the countries with only one row of data are: ['Cuba', 'Guyana', 'Maldives', 'Oman', 'Suriname']
We delete these 5

In [13]:
# 3. There is another case that we miss one of the columns for one country and we cannot find mean for that row
#    Therefore we traverse all the keys in the dictionary and for each country, 
filled_data = defaultdict()
for country in world_happiness_dict.keys():
    df = pd.DataFrame(world_happiness_dict.get(country))
    filled_df = df.fillna(df.mean())
  
    if filled_df.isnull().values.any():
    # we illustrate the conditions of those countries before and after the procedure:
        print(country,"BEFORE:")
        print(filled_df)
        
        filled_df = df.fillna(0)
        print(country, "AFTER:")
        print(filled_df)
     
        
    filled_data[country] = filled_df
filled_data.get("Algeria")

China BEFORE:
       0      1      2      3      4       5         6   7      8      9
0   2006  4.560  8.696  0.747  66.88  0.8457 -0.170643 NaN  0.809  0.170
1   2007  4.863  8.824  0.811  67.06  0.8457 -0.176000 NaN  0.817  0.159
2   2008  4.846  8.911  0.748  67.24  0.8530 -0.092000 NaN  0.817  0.147
3   2009  4.454  8.996  0.798  67.42  0.7710 -0.160000 NaN  0.786  0.162
4   2010  4.653  9.092  0.768  67.60  0.8050 -0.133000 NaN  0.765  0.158
5   2011  5.037  9.179  0.787  67.76  0.8240 -0.186000 NaN  0.820  0.134
6   2012  5.095  9.249  0.788  67.92  0.8080 -0.185000 NaN  0.821  0.159
7   2013  5.241  9.319  0.778  68.08  0.8050 -0.158000 NaN  0.836  0.142
8   2014  5.196  9.386  0.820  68.24  0.8457 -0.217000 NaN  0.854  0.112
9   2015  5.304  9.449  0.794  68.40  0.8457 -0.244000 NaN  0.809  0.171
10  2016  5.325  9.510  0.742  68.70  0.8457 -0.228000 NaN  0.826  0.146
11  2017  5.099  9.571  0.772  69.00  0.8780 -0.175000 NaN  0.821  0.214
12  2018  5.131  9.632  0.788  69.30  0.8950 -0.159000 NaN  0.856  0.190
13  2019  5.144  9.688  0.822  69.60  0.9270 -0.173000 NaN  0.891  0.147
14  2020  5.771  9.702  0.808  69.90  0.8910 -0.103000 NaN  0.789  0.245
China AFTER:
       0      1      2      3      4      5      6    7      8      9
0   2006  4.560  8.696  0.747  66.88  0.000  0.000  0.0  0.809  0.170
1   2007  4.863  8.824  0.811  67.06  0.000 -0.176  0.0  0.817  0.159
2   2008  4.846  8.911  0.748  67.24  0.853 -0.092  0.0  0.817  0.147
3   2009  4.454  8.996  0.798  67.42  0.771 -0.160  0.0  0.786  0.162
4   2010  4.653  9.092  0.768  67.60  0.805 -0.133  0.0  0.765  0.158
5   2011  5.037  9.179  0.787  67.76  0.824 -0.186  0.0  0.820  0.134
6   2012  5.095  9.249  0.788  67.92  0.808 -0.185  0.0  0.821  0.159
7   2013  5.241  9.319  0.778  68.08  0.805 -0.158  0.0  0.836  0.142
8   2014  5.196  9.386  0.820  68.24  0.000 -0.217  0.0  0.854  0.112
9   2015  5.304  9.449  0.794  68.40  0.000 -0.244  0.0  0.809  0.171
10  2016  5.325  9.510  0.742  68.70  0.000 -0.228  0.0  0.826  0.146
11  2017  5.099  9.571  0.772  69.00  0.878 -0.175  0.0  0.821  0.214
12  2018  5.131  9.632  0.788  69.30  0.895 -0.159  0.0  0.856  0.190
13  2019  5.144  9.688  0.822  69.60  0.927 -0.173  0.0  0.891  0.147
14  2020  5.771  9.702  0.808  69.90  0.891 -0.103  0.0  0.789  0.245
Hong Kong S.A.R. of China BEFORE:
       0      1        2      3   4      5      6      7      8      9
0   2006  5.511  10.7460  0.812 NaN  0.910  0.156  0.356  0.723  0.236
1   2008  5.137  10.8160  0.840 NaN  0.922  0.296  0.274  0.719  0.237
2   2009  5.397  10.7880  0.835 NaN  0.918  0.308  0.272  0.762  0.210
3   2010  5.643  10.8470  0.857 NaN  0.890  0.332  0.256  0.710  0.183
4   2011  5.474  10.8870  0.846 NaN  0.894  0.235  0.245  0.734  0.196
5   2012  5.484  10.8930  0.826 NaN  0.880  0.222  0.380  0.715  0.183
6   2014  5.458  10.9400  0.834 NaN  0.843  0.224  0.423  0.684  0.243
7   2016  5.498  10.9700  0.832 NaN  0.800  0.100  0.403  0.664  0.213
8   2017  5.362  11.0000  0.831 NaN  0.831  0.140  0.416  0.640  0.201
9   2019  5.659  11.0000  0.856 NaN  0.727  0.067  0.432  0.599  0.358
10  2020  5.295  10.8887  0.813 NaN  0.705  0.208  0.380  0.609  0.210
Hong Kong S.A.R. of China AFTER:
       0      1       2      3    4      5      6      7      8      9
0   2006  5.511  10.746  0.812  0.0  0.910  0.156  0.356  0.723  0.236
1   2008  5.137  10.816  0.840  0.0  0.922  0.296  0.274  0.719  0.237
2   2009  5.397  10.788  0.835  0.0  0.918  0.308  0.272  0.762  0.210
3   2010  5.643  10.847  0.857  0.0  0.890  0.332  0.256  0.710  0.183
4   2011  5.474  10.887  0.846  0.0  0.894  0.235  0.245  0.734  0.196
5   2012  5.484  10.893  0.826  0.0  0.880  0.222  0.380  0.715  0.183
6   2014  5.458  10.940  0.834  0.0  0.843  0.224  0.423  0.684  0.243
7   2016  5.498  10.970  0.832  0.0  0.800  0.100  0.403  0.664  0.213
8   2017  5.362  11.000  0.831  0.0  0.831  0.140  0.416  0.640  0.201
9   2019  5.659  11.000  0.856  0.0  0.727  0.067  0.432  0.599  0.358
10  2020  5.295   0.000  0.813  0.0  0.705  0.000  0.380  0.609  0.210
Kosovo BEFORE:
       0      1         2      3   4         5         6      7         8  \
0   2007  5.104  8.928000  0.848 NaN  0.381000  0.144000  0.894  0.655000
1   2008  5.522  8.981000  0.884 NaN  0.648385  0.090000  0.849  0.693538
2   2009  5.891  9.008000  0.830 NaN  0.506000  0.201000  0.968  0.598000
3   2010  5.177  9.033000  0.708 NaN  0.451000  0.170000  0.967  0.695000
4   2011  4.860  9.067000  0.759 NaN  0.589000  0.004000  0.919  0.696000
5   2012  5.640  9.086000  0.757 NaN  0.636000  0.027000  0.950  0.596000
6   2013  6.126  9.113000  0.721 NaN  0.568000  0.115000  0.935  0.692000
7   2014  5.000  9.129000  0.706 NaN  0.441000  0.012000  0.775  0.636000
8   2015  5.077  9.182000  0.805 NaN  0.561000  0.181000  0.851  0.753000
9   2016  5.759  9.228000  0.824 NaN  0.827000  0.125000  0.941  0.704000
10  2017  6.149  9.262000  0.792 NaN  0.858000  0.117000  0.925  0.738000
11  2018  6.392  9.296000  0.822 NaN  0.890000  0.269000  0.922  0.778000
12  2019  6.425  9.339000  0.843 NaN  0.841000  0.247000  0.920  0.749000
13  2020  6.294  9.127077  0.792 NaN  0.880000  0.130923  0.910  0.726000

        9
0   0.237
1   0.318
2   0.169
3   0.118
4   0.124
5   0.100
6   0.203
7   0.206
8   0.180
9   0.150
10  0.186
11  0.170
12  0.141
13  0.201
Kosovo AFTER:
       0      1      2      3    4      5      6      7      8      9
0   2007  5.104  8.928  0.848  0.0  0.381  0.144  0.894  0.655  0.237
1   2008  5.522  8.981  0.884  0.0  0.000  0.090  0.849  0.000  0.318
2   2009  5.891  9.008  0.830  0.0  0.506  0.201  0.968  0.598  0.169
3   2010  5.177  9.033  0.708  0.0  0.451  0.170  0.967  0.695  0.118
4   2011  4.860  9.067  0.759  0.0  0.589  0.004  0.919  0.696  0.124
5   2012  5.640  9.086  0.757  0.0  0.636  0.027  0.950  0.596  0.100
6   2013  6.126  9.113  0.721  0.0  0.568  0.115  0.935  0.692  0.203
7   2014  5.000  9.129  0.706  0.0  0.441  0.012  0.775  0.636  0.206
8   2015  5.077  9.182  0.805  0.0  0.561  0.181  0.851  0.753  0.180
9   2016  5.759  9.228  0.824  0.0  0.827  0.125  0.941  0.704  0.150
10  2017  6.149  9.262  0.792  0.0  0.858  0.117  0.925  0.738  0.186
11  2018  6.392  9.296  0.822  0.0  0.890  0.269  0.922  0.778  0.170
12  2019  6.425  9.339  0.843  0.0  0.841  0.247  0.920  0.749  0.141
13  2020  6.294  0.000  0.792  0.0  0.880  0.000  0.910  0.726  0.201
North Cyprus BEFORE:
      0      1   2      3   4      5   6      7      8      9
0  2012  5.463 NaN  0.871 NaN  0.693 NaN  0.855  0.709  0.405
1  2013  5.567 NaN  0.869 NaN  0.775 NaN  0.715  0.622  0.443
2  2014  5.786 NaN  0.802 NaN  0.830 NaN  0.692  0.724  0.311
3  2015  5.843 NaN  0.791 NaN  0.785 NaN  0.659  0.702  0.319
4  2016  5.827 NaN  0.808 NaN  0.796 NaN  0.670  0.644  0.346
5  2018  5.608 NaN  0.837 NaN  0.797 NaN  0.614  0.480  0.262
6  2019  5.467 NaN  0.803 NaN  0.793 NaN  0.640  0.494  0.296
North Cyprus AFTER:
      0      1    2      3    4      5    6      7      8      9
0  2012  5.463  0.0  0.871  0.0  0.693  0.0  0.855  0.709  0.405
1  2013  5.567  0.0  0.869  0.0  0.775  0.0  0.715  0.622  0.443
2  2014  5.786  0.0  0.802  0.0  0.830  0.0  0.692  0.724  0.311
3  2015  5.843  0.0  0.791  0.0  0.785  0.0  0.659  0.702  0.319
4  2016  5.827  0.0  0.808  0.0  0.796  0.0  0.670  0.644  0.346
5  2018  5.608  0.0  0.837  0.0  0.797  0.0  0.614  0.480  0.262
6  2019  5.467  0.0  0.803  0.0  0.793  0.0  0.640  0.494  0.296
Somalia BEFORE:
      0      1   2      3     4      5   6      7      8      9
0  2014  5.528 NaN  0.611  49.6  0.874 NaN  0.456  0.834  0.207
1  2015  5.354 NaN  0.599  50.1  0.968 NaN  0.410  0.901  0.187
2  2016  4.668 NaN  0.594  50.0  0.917 NaN  0.441  0.891  0.193
Somalia AFTER:
      0      1    2      3     4      5    6      7      8      9
0  2014  5.528  0.0  0.611  49.6  0.874  0.0  0.456  0.834  0.207
1  2015  5.354  0.0  0.599  50.1  0.968  0.0  0.410  0.901  0.187
2  2016  4.668  0.0  0.594  50.0  0.917  0.0  0.441  0.891  0.193
Somaliland region BEFORE:
      0      1   2      3   4      5   6      7      8      9
0  2009  4.991 NaN  0.880 NaN  0.746 NaN  0.513  0.819  0.112
1  2010  4.657 NaN  0.829 NaN  0.820 NaN  0.471  0.769  0.083
2  2011  4.931 NaN  0.788 NaN  0.858 NaN  0.357  0.749  0.122
3  2012  5.057 NaN  0.786 NaN  0.758 NaN  0.334  0.735  0.152
Somaliland region AFTER:
      0      1    2      3    4      5    6      7      8      9
0  2009  4.991  0.0  0.880  0.0  0.746  0.0  0.513  0.819  0.112
1  2010  4.657  0.0  0.829  0.0  0.820  0.0  0.471  0.769  0.083
2  2011  4.931  0.0  0.788  0.0  0.858  0.0  0.357  0.749  0.122
3  2012  5.057  0.0  0.786  0.0  0.758  0.0  0.334  0.735  0.152
South Sudan BEFORE:
      0      1   2      3      4      5   6      7      8      9
0  2014  3.832 NaN  0.545  49.84  0.567 NaN  0.742  0.614  0.428
1  2015  4.071 NaN  0.585  50.20  0.512 NaN  0.710  0.586  0.450
2  2016  2.888 NaN  0.532  50.60  0.440 NaN  0.785  0.615  0.549
3  2017  2.817 NaN  0.557  51.00  0.456 NaN  0.761  0.586  0.517
South Sudan AFTER:
      0      1    2      3      4      5    6      7      8      9
0  2014  3.832  0.0  0.545  49.84  0.567  0.0  0.742  0.614  0.428
1  2015  4.071  0.0  0.585  50.20  0.512  0.0  0.710  0.586  0.450
2  2016  2.888  0.0  0.532  50.60  0.440  0.0  0.785  0.615  0.549
3  2017  2.817  0.0  0.557  51.00  0.456  0.0  0.761  0.586  0.517
Turkmenistan BEFORE:
      0      1      2      3      4      5      6   7      8      9
0  2009  6.568  8.989  0.924  59.44  0.777 -0.102 NaN  0.781  0.152
1  2011  5.792  9.182  0.964  60.04  0.777  0.018 NaN  0.639  0.122
2  2012  5.464  9.269  0.946  60.28  0.786 -0.123 NaN  0.584  0.117
3  2013  5.392  9.348  0.846  60.52  0.705 -0.071 NaN  0.599  0.160
4  2014  5.787  9.427  0.909  60.76  0.805  0.032 NaN  0.695  0.154
5  2015  5.791  9.472  0.960  61.00  0.701  0.093 NaN  0.705  0.301
6  2016  5.887  9.515  0.929  61.40  0.749  0.005 NaN  0.636  0.255
7  2017  5.229  9.561  0.908  61.80  0.720  0.066 NaN  0.521  0.350
8  2018  4.621  9.605  0.984  62.20  0.858  0.260 NaN  0.612  0.189
9  2019  5.474  9.651  0.982  62.60  0.892  0.285 NaN  0.510  0.183
Turkmenistan AFTER:
      0      1      2      3      4      5      6    7      8      9
0  2009  6.568  8.989  0.924  59.44  0.000 -0.102  0.0  0.781  0.152
1  2011  5.792  9.182  0.964  60.04  0.000  0.018  0.0  0.639  0.122
2  2012  5.464  9.269  0.946  60.28  0.786 -0.123  0.0  0.584  0.117
3  2013  5.392  9.348  0.846  60.52  0.705 -0.071  0.0  0.599  0.160
4  2014  5.787  9.427  0.909  60.76  0.805  0.032  0.0  0.695  0.154
5  2015  5.791  9.472  0.960  61.00  0.701  0.093  0.0  0.705  0.301
6  2016  5.887  9.515  0.929  61.40  0.749  0.005  0.0  0.636  0.255
7  2017  5.229  9.561  0.908  61.80  0.720  0.066  0.0  0.521  0.350
8  2018  4.621  9.605  0.984  62.20  0.858  0.260  0.0  0.612  0.189
9  2019  5.474  9.651  0.982  62.60  0.892  0.285  0.0  0.510  0.183

,0,1,2,3,4,5,6,7,8,9
0,2010,5.464,9.287,0.803571,64.50,0.593000,-0.205000,0.618,0.608429,0.262286
1,2011,5.317,9.297,0.810000,64.66,0.530000,-0.181000,0.638,0.550000,0.255000
2,2012,5.605,9.311,0.839000,64.82,0.587000,-0.172000,0.690,0.604000,0.230000
3,2014,6.355,9.335,0.818000,65.14,0.519167,-0.144333,0.691,0.626000,0.177000
4,2016,5.341,9.362,0.749000,65.50,0.519167,-0.144333,0.691,0.661000,0.377000
5,2017,5.249,9.354,0.807000,65.70,0.437000,-0.167000,0.700,0.642000,0.289000
6,2018,5.043,9.348,0.799000,65.90,0.583000,-0.146000,0.759,0.591000,0.293000
7,2019,4.745,9.337,0.803000,66.10,0.385000,0.005000,0.741,0.585000,0.215000

In [6]:
#3. construct a dataframe to extract 80% of the data as the training data and 20% as the testing data. 
# There are 166 countries within the dataset
# Within the dataset, there are in total 1949 data entries

print(len(filled_data.keys()))
total = 0


training_set = []
testing_set = []

for country in filled_data.keys():
    total_data = filled_data.get(country)
    train, test = train_test_split(total_data, test_size=0.2, random_state=50, shuffle=True)

    training_set.append(train)
    testing_set.append(test)

training_data = pd.concat(training_set)
testing_data = pd.concat(testing_set)

print("Training data dimensions: ", training_data.shape)
print("Testing data dimensions: ", testing_data.shape)

161
Training data dimensions:  (1515, 10)
Testing data dimensions:  (429, 10)

In [7]:
print(training_data.isnull().values.any())
print(testing_data.isnull().values.any())

False
False

In [8]:
training_data.to_pickle("./train.pkl")
testing_data.to_pickle("./test.pkl")